<template>
  <div class="graph"></div>
  <div class="summary">
    <p>${today}</p>
    <table class="summary_table">
      <tr style="color:#2522ff">
        <td>Leistung max.:</td>
        <td style="text-align:right">${max_power}</td>
        <td>&nbsp;${percent_power}</td>
      </tr>
      <tr style="color:#2db466">
        <td>Produktion:</td>
        <td style="text-align:right">${production}</td>
      </tr>
      <tr style="color:#ff1e4a;">
        <td>Verbrauch:</td>
        <td style="text-align:right">${consumation}</td>
      </tr>
      <tr style="color:#8fbb3b">
        <td style="padding-right:5px;">Eigenverbrauch:</td>
        <td style="text-align:right;">${self_consumation}</td>
        <td>&nbsp;${percent}</td>
      </tr>
      <tr style="color:#aa3257">
        <td>Import:</td>
        <td style="text-align:right">${imported}</td>
      </tr>
      <tr style="color:#549778">
        <td>Export:</td>
        <td> ${exported}</td>
      </tr>
    </table>

  </div>
</template>
